In [2]:
import numpy as np
import pandas as pd

pos_train_data = pd.read_csv('train_pos.csv',sep = ',')
neg_train_data = pd.read_csv('train_neg.csv',sep = ',')
pos_test_data = pd.read_csv('test_pos.csv',sep = ',')
neg_test_data = pd.read_csv('test_neg.csv',sep = ',')

In [3]:
pos_train_data=pos_train_data[['Text','Label']]
neg_train_data=neg_train_data[['Text','Label']]
pos_test_data=pos_test_data[['Text','Label']]
neg_test_data=neg_test_data[['Text','Label']]

In [4]:
data_train=pd.concat([pos_train_data,neg_train_data],ignore_index = True)
data_train = data_train.sample(frac=1).reset_index(drop=True)
data_train.head()

                                                Text  Label
0  The interplay between the characters is a mora...      0
1  This is the worst movie ever made. The acting,...      0
2  I must say, I thought I had seen it all. I am ...      1
3  Jackie Chan name is synonomus to stunts. This ...      1
4  Images are great and reflect well the landscap...      0

In [5]:
from sklearn.model_selection import train_test_split

# split the dataset in train and test
X = data_train['Text']
y = data_train['Label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [6]:
data_train.shape

(25000, 2)

In [7]:
import re
import string
import nltk

In [8]:
def clean_text1(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub('[%s]'%re.escape(string.punctuation),'',text)
    text=re.sub('\w*\d\w*','',text)
    return text

cleaned1=lambda x:clean_text1(x)

In [9]:
data_train['Text']=pd.DataFrame(data_train.Text.apply(cleaned1))

In [10]:
data_train.head()

                                                Text  Label
0  the interplay between the characters is a mora...      0
1  this is the worst movie ever made the acting t...      0
2  i must say i thought i had seen it all i am an...      1
3  jackie chan name is synonomus to stunts this m...      1
4  images are great and reflect well the landscap...      0

In [11]:
# second round of cleaning
def clean_text2(text):
    text=re.sub('[''"",,,]','',text)
    text=re.sub('\n','',text)
    return text

cleaned2=lambda x:clean_text2(x)

In [12]:
data_train['Text']=pd.DataFrame(data_train.Text.apply(cleaned2))
data_train.head()

                                                Text  Label
0  the interplay between the characters is a mora...      0
1  this is the worst movie ever made the acting t...      0
2  i must say i thought i had seen it all i am an...      1
3  jackie chan name is synonomus to stunts this m...      1
4  images are great and reflect well the landscap...      0

In [13]:
x = data_train.iloc[0:,0].values
y = data_train.iloc[0:,1].values

In [14]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import string
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split as tts

In [15]:
xtrain,xtest,ytrain,ytest = tts(x,y,test_size = 0.25,random_state = 225)

In [16]:
tf = TfidfVectorizer()
from sklearn.pipeline import Pipeline

In [17]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
model=Pipeline([('vectorizer',tf),('classifier',classifier)])

model.fit(xtrain,ytrain)

Pipeline(steps=[('vectorizer', TfidfVectorizer()),
                ('classifier', LogisticRegression())])

In [18]:
ypred=model.predict(xtest)

In [19]:
accuracy_score(ypred,ytest)

0.88336